<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Coffee Maker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="container mt-5">
    <h1 class="text-center mb-4">Make Your Coffee</h1>
    <div th:if="${problemDetail != null}" class="alert alert-danger">
        <p>Errors in form: <span th:text="${problemDetail.detail}"></span></p>
    </div>
    <form action="#" th:action="@{/coffee}" th:object="${coffeeMakeRequest}" method="post" class="card p-4">
        <div class="mb-3">
            <label for="beans-name" class="form-label">Beans name:</label>
            <input type="text" id="beans-name" th:field="*{beansName}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="water-temperature" class="form-label">Water temperature:</label>
            <input type="number" id="water-temperature" th:field="*{waterTemperature}" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>